* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: green;
    color: white;
}

.myTitle {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    margin-top: 4rem;
}