* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: black;
    color: white;
}

.myTitle {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}


.container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

li {
    margin: 10px 0;
    width: calc(100% / 10 - 0.5rem);
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}